.btn {
  width: 200px;
  margin: auto;
}

.topbtn {
  margin-top: 50px;
}

.avatar-wrapper {
  position: relative;
  height: 275px;
  width: 275px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
}

img.logo-hover {
  position: relative;
}

img.logo-hover:hover {
  transform: scale(1.05);
  cursor: pointer;
}
img.logo-hover:hover .headshot {
  opacity: 0.5;
}

.headshot {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.description {
  text-align: center;
}

a.logo-link {
  color: black;
  text-decoration: none;
}

img.tool-logo {
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
  display: flexbox;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tool-container:hover .overlay {
  opacity: 0.9;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #007bff;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
