header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background-color: rgb(238, 236, 236);
}

.my_table_shadow {
  font-size: larger;
  font-weight: 500;
}

.my_value_shadow {
  font-size: larger;
  font-weight: 500;
}


.my_text_shadow {
  /* text-shadow: 0px 2px 3px rgb(143, 117, 0); */
  text-shadow: 0px 2px 3px rgb(117, 117, 117);
}
