.center {
  text-align: center;
  color: black;
}

.pagination {
  display: inline-flex;
}

.page-fpnl:hover {
  cursor: pointer;
}

.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid lightgrey;
  margin: 0 2px;
}

.page-fpnl .page-link span {
  color: #007bff;
}

.total-pages {
  color: gray;
}

/* .pagination a {
  color: blue;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid lightgrey;
  margin: 0 2px;
} */
