#intro {
  width: 100%;
  position: relative;
  background: url(../images/intro-bg.png) center bottom no-repeat;
  background-size: cover;
  padding: 120px 0 120px 0;
  display: block;
}

#intro p,
h1,
span {
  color: white;
}

#intro h1 {
  font-size: 5rem;
}

#intro span {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

#intro img {
  border: 0;
}

#intro img:hover {
  transform: none;
}

.box-left {
  float: left;
  width: 50%;
}

.box-right {
  float: right;
  width: 50%;
}

#intro div.form-group {
  margin-bottom: 0px;
}

.bg-blue {
  background-color: #1743a5;
}

.bg-eggshell {
  background: #ecf5ff;
}

#models h1 {
  color: #283d50;
}

#models div.card {
  margin: 0 auto;
}
